.main {
    width: 300px;
    height: 300px;
    border-radius: 60%;
    background-color: rgb(253, 251, 251);
    border: 2px solid;
    margin: auto;
    margin-top: 30px;
}
.demo {
    background-color: orange;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}
.demo1 {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}